/* -------------------------------------------------------------------------------- */
/* ! GENERAL */
/* -------------------------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "PT Sans", sans-serif;
    color: var(--main-color);
    background-color: var(--negative-color);
    padding-top: 80px;
    font-size: 1rem;
    line-height: 1.5;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--negative-color);
}

/* -------------------------------------------------------------------------------- */
/* ! Color */
/* -------------------------------------------------------------------------------- */
/* Custom properties */
:root {
    --section-color: #9792e4;
    --header-color: #0084fd;
    --contrast-color: #b5ddff;
    --accent-color: #fdc15f;
    --footer-color: #333333;
    --main-color: #000000;
    --negative-color: #ffffff;
}

.even {
    background-color: var(--section-color);
    color: var(--negative-color);
}

/* -------------------------------------------------------------------------------- */
/* ! Layout */
/* -------------------------------------------------------------------------------- */
.container {
    padding: 20px;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 40px 20px;
    scroll-margin-top: 75px;
}

/* Card */
.card {
    padding: 20px;
}

.card-negative {
    background-color: var(--negative-color);
    color: var(--main-color);
}

/* -------------------------------------------------------------------------------- */
/* ! Utilities */
/* -------------------------------------------------------------------------------- */
/* border */
.rounded-big {
    border-radius: 40px;
}

.rounded-small {
    border-radius: 20px;
}

.circle {
    border-radius: 50%;
}

/* bottoni */
.btn {
    background-color: var(--negative-color);
    color: var(--main-color);
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
}

/* -------------------------------------------------------------------------------- */
/* ! Header */
/* -------------------------------------------------------------------------------- */
header {
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    color: var(--negative-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .icon-hamburger {
    font-size: 1.7rem;
}

nav>ul {
    display: none;
}

nav ul li a {
    padding: 20px 15px;
    display: flex;
    align-items: center;
}

nav ul li a.btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* -------------------------------------------------------------------------------- */
/* ! Features */
/* -------------------------------------------------------------------------------- */
#features .card {
    background-color: var(--contrast-color);
    color: var(--footer-color);
    margin-bottom: 20px;
}

#features .card-icon {
    font-size: 5rem;
}

#features .card .card-icon,
#features .card h3.card-title {
    color: var(--header-color);
}

/* -------------------------------------------------------------------------------- */
/* ! Planner */
/* -------------------------------------------------------------------------------- */
#planning h1 {
    font-size: 1.8rem;
}

/* -------------------------------------------------------------------------------- */
/* ! Footer */
/* -------------------------------------------------------------------------------- */
footer {
    background-color: var(--footer-color);
    color: var(--negative-color);
}

/* -------------------------------------------------------------------------------- */
/* ! MEDIA QUERY */
/* -------------------------------------------------------------------------------- */
/* desktop */
@media screen and (min-width: 1200px) {
    .icon-hamburger {
        display: none;
    }

    nav>ul {
        display: flex;
    }

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    #features .container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    #features .card {
        width: calc(100% / 5 - 15px);
        aspect-ratio: 1 / 1;
    }

    #features .card:first-child {
        width: calc((100% / 5 - 15px) * 2);
    }
}