/* -------------------------------------------------------------------------------- */
/* ! Reset */
/* -------------------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* -------------------------------------------------------------------------------- */
/* ! Layout */
/* -------------------------------------------------------------------------------- */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 800px;
    margin: 0 auto;
}

.tac {
    text-align: center;
}

/* -------------------------------------------------------------------------------- */
/* ! Flex-box utily */
/* -------------------------------------------------------------------------------- */
.d-flex {
    display: flex;
}

.flex-direction-colum {
    flex-direction: column;
}

.flex-direction-column-r {
    flex-direction: column-reverse;
}

.flex-direction-row-r {
    flex-direction: row-reverse;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: end;
}

.justify-content-s-b {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* -------------------------------------------------------------------------------- */
/* ! Padding e margin */
/* -------------------------------------------------------------------------------- */
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

/* Padding */
.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-40 {
    padding: 40px;
}

.p-50 {
    padding: 50px;
}

.p-80 {
    padding: 80px;
}

.p-100 {
    padding: 100px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-40 {
    padding-bottom: 40px;
}

/* -------------------------------------------------------------------------------- */
/* ! Images */
/* -------------------------------------------------------------------------------- */
.img-res {
    max-width: 100%;
    height: auto;
}

/* -------------------------------------------------------------------------------- */
/* ! Helpers developer */
/* -------------------------------------------------------------------------------- */
.debug {
    border: 1px solid red;
}